<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/style.css">
  
  <!-- <title>File upload Server</title> -->
</head>
<body>
<h1>PDF OCR READER</h1>
<div>
<form method="POST" action="/" enctype="multipart/form-data">
	<div class="drag-area">
		<div class="icon"><i class="fas fa-cloud-upload-alt"></i></div>
    	<header>Drag & Drop to Upload Files</header>
    	<span>OR</span>
		<input id="files" style="display:None;" type="file" name="pdf"/>
			<label for="files" class="but-browse">Browse</label>
		
	</div>
	<button class="submit-but" type="submit"><span class="but-text">CONVERT</span></button>
  
</form>
</div>
<script src="js/script.js"></script>
</body>
</html>

